{% extends "base.html" %}

{% block title %}
    Update Post
{% endblock title %}

{% block content %}

{% if user.is_authenticated%}
    {% if user.id == post.author.id %}
        <h1>Update Post...</h1><br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
    {% else %}
        <h1>You're not allowed nigga!</h1>
    {% endif %}
{% else %}
    <h1>You're not allowed nigga!</h1>
{% endif %}



{% endblock content %}